# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\knowledge\JavaAdvanced\homework\JAVA-01\Week_09\movo-rpc\rpc-demo\rpc-api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
